.content__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.itemsBlock {
	// display: flex;
	// justify-content: space-between;
	// gap: 20px;
	// flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	// grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	@media (max-width: 1220px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 991px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 567px) {
		grid-template-columns: repeat(1, 1fr);
	}

	padding: 20px 0;
}
